<div class="container poem-form">
    <div class="col-sm-12">
        <h1 style="text-align: center;"><strong>Poetry Application</strong></h1>
        <form [formGroup]="poetryForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="col-sm-12">
                        <input type="text" placeholder="Search Author ..."
                            matInput 
                            formControlName="searchAuthor" 
                            [matAutocomplete]="auto" class="form-control" (input)="onAuthorSelected($event)">  
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let author of authors" [value]="author.author">
                                {{ author.author }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field class="col-sm-12">
                        <input type="text" placeholder="Search Title ..."
                            matInput 
                            formControlName="searchTitle" 
                            [matAutocomplete]="autoTitle" class="form-control" (input)="onTitleSelected($event)">  
                        <mat-autocomplete #autoTitle="matAutocomplete">
                            <mat-option *ngFor="let title of titles" [value]="title.title">
                                {{ title.title }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary float-right">Search</button>
                </div>
            </div>
        </form>
        <div class="col-sm-12 row poem-section">
            <div class="col-sm-6">
                <div *ngFor="let poem of poems">
                    <span *ngFor="let line of poem.lines">
                        <p>
                            {{ line }}
                        </p>
                    </span>
                </div>
            </div>

            <div class="col-sm-6">
                <rhyme-suggestion 
                    *ngIf="searchText" 
                    [searchText]="searchText" 
                    [rhymeHints]="rhymeHints"
                    (onRhymeSelected)="onRhymeSelected($event)">
                </rhyme-suggestion>

                <div id="printed-poem-container">
                    <p class="printed">
                      {{coupletLines}}
                    </p>
                  </div>
            </div>
        </div>
    </div>
</div>
